# Football UK Data
Preprocessing the data from: https://www.football-data.co.uk/spainm.php

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')


# pd.set_option('display.max_rows', 12000)
# pd.set_option('display.max_columns', 12000)
# pd.set_option('display.width', 12000)
# pd.set_option('display.max_colwidth', 12000)

In [2]:
FILE_PATH = os.path.realpath("../data/football_uk_data")

In [3]:
files = []
for file in os.listdir(FILE_PATH):
    files.append(os.path.join(FILE_PATH, file))

In [4]:
cols_to_keep = ["Div", "Date", "Time", "HomeTeam", "AwayTeam", "FTHG", "FTAG", "FTR", "HTHG", "HTAG", 
                "HTR", "HS", "AS", "HST", "AST", "HC", "AC", "HF", "AF", "HY","AY", "HR", "AR"]

In [5]:
match_data = pd.concat([pd.read_csv(f) for f in files], ignore_index = True)

In [6]:
match_data[cols_to_keep].head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,SP1,09/09/00,NaN,Barcelona,Malaga,2.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,09/09/00,NaN,La Coruna,Ath Bilbao,2.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,09/09/00,NaN,Real Madrid,Valencia,2.0,1.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,09/09/00,NaN,Sociedad,Santander,2.0,2.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,09/09/00,NaN,Zaragoza,Espanol,1.0,2.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
match_data = match_data[match_data.Div == 'SP1']
match_data.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,09/09/00,Barcelona,Malaga,2.0,1.0,H,2.0,0.0,H,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,09/09/00,La Coruna,Ath Bilbao,2.0,0.0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,09/09/00,Real Madrid,Valencia,2.0,1.0,H,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,09/09/00,Sociedad,Santander,2.0,2.0,D,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,09/09/00,Zaragoza,Espanol,1.0,2.0,A,0.0,0.0,D,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
match_data.shape

(8360, 165)

In [9]:
# Update our datetime values
# match_data['Date'].apply(pd.to_datetime, dayfirst = True)
match_data['Date'] = pd.to_datetime(match_data['Date'], dayfirst= True)
match_data['Time'] = pd.to_datetime(match_data['Time']).dt.time
# match_data['Date'] = match_data['Date'].dt.strftime("%m/%d/%Y")
# match_data['Date'].head()

In [10]:
# match_data['DateTime'] = pd.to_datetime(match_data['Date'] + ' ' + match_data['Time'])
# match_data['Date'] = pd.to_datetime(match_data['Date'])

In [11]:
cols_to_keep = ["Div", "Date", "Time", "HomeTeam", "AwayTeam", "FTHG", "FTAG", "FTR", "HTHG", "HTAG", 
                "HTR", "HS", "AS", "HST", "AST", "HC", "AC", "HF", "AF", "HY","AY", "HR", "AR"]

In [12]:
# match_data[cols_to_keep].to_csv("footballuklaliga.csv")

In [13]:
match_data_clean = match_data[cols_to_keep]
match_data_clean

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,SP1,2000-09-09,NaT,Barcelona,Malaga,2.0,1.0,H,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,2000-09-09,NaT,La Coruna,Ath Bilbao,2.0,0.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,2000-09-09,NaT,Real Madrid,Valencia,2.0,1.0,H,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,2000-09-09,NaT,Sociedad,Santander,2.0,2.0,D,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,2000-09-09,NaT,Zaragoza,Espanol,1.0,2.0,A,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18060,SP1,2022-05-22,19:00:00,Granada,Espanol,0.0,0.0,D,0.0,0.0,...,5.0,5.0,7.0,3.0,9.0,12.0,1.0,0.0,0.0,0.0
18061,SP1,2022-05-22,19:00:00,Osasuna,Mallorca,0.0,2.0,A,0.0,0.0,...,1.0,6.0,5.0,7.0,8.0,14.0,2.0,2.0,0.0,0.0
18062,SP1,2022-05-22,21:00:00,Barcelona,Villarreal,0.0,2.0,A,0.0,1.0,...,3.0,3.0,12.0,1.0,12.0,7.0,3.0,1.0,0.0,0.0
18063,SP1,2022-05-22,21:00:00,Sevilla,Ath Bilbao,1.0,0.0,H,0.0,0.0,...,3.0,1.0,5.0,0.0,13.0,12.0,3.0,3.0,0.0,0.0
18064,SP1,2022-05-22,21:00:00,Sociedad,Ath Madrid,1.0,2.0,A,0.0,0.0,...,3.0,5.0,3.0,2.0,16.0,11.0,4.0,2.0,0.0,0.0

In [14]:
match_data_clean.to_pickle(os.path.join(os.path.realpath("../data/preprocessed/football_uk_data_preprocess"), "match_data_clean.pkl"))